@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "./settings.scss";
@import "./buttons.scss";

html,
body {
  overscroll-behavior: none;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: $yellow;
  font-family: "Signika", sans-serif;
  font-size: 1rem;
  padding: 0px;
  margin: 0px;
  color: $black;
  font-size: 1rem;
  font-family: "Space Mono", monospace;
}

body {
  display: grid;
  grid-template-rows: 10% 10% 75% 5%;
  gap: 0px;
  align-items: stretch;

  & > main {
    background-color: $yellow;
  }
}

h1.title {
  font-size: 1.8rem;
  margin: 10px;
  padding: 0px;
  color: $black;
}

a {
  color: $dark-orange;
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    font-style: italic;
  }
}

input[type="text"],
input[type="number"],
textarea {
  padding: 10px 20px;
  margin: 0px 10px;
  border: none;
  border-radius: 10px;
  background-color: $yellow;
  outline: none;
  font-size: 1.1rem;
  color: $black;
}

.input-with-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;

  input {
    margin: 0px;
    padding: 10px 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  button {
    margin: 0px;
    padding: 10px 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $orange;
    border: none;
    color: $dark-orange;
    transition: 0.3s;

    &:hover {
      background-color: darken($orange, 10);
      color: darken($dark-orange, 10);
    }
  }
}

.separator {
  height: 0px;
  width: 100%;
  margin: 5px 0px;
  border: solid 2px $dark-orange;
}

.data-display-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 70%;

  .data-display-menu {
    height: 100%;
    overflow: hidden;

    .selected-data-display {
      margin: 10px auto;
    }

    .data-display-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      overflow: auto;

      & > button {
        margin: 10px;
        width: calc(100% - 20px);
      }
    }
  }

  .data-display-details {
    overflow: auto;
    padding: 20px;

    .data-display-details__info {
      padding: 0px 0px 10px 20px;
      display: grid;
      grid-template-columns: 30% 70%;
      grid-gap: 10px;
      word-break: break-all;
    }
  }
}

span.material-symbols-outlined {
  vertical-align: middle;
}
